.profile_card_board {
    min-width: 100%;
    background-color: blanchedalmond;
    border-radius: 20px;
    border-color: blue;
    padding: 10px;
}

.profile_row_block {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.profile_col_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.profile_img img {
    max-height: 250px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.change-input {
    margin-bottom: 20px;
    padding-right: 10px;
    border-radius: 10px;
    border: 0px solid black;
    font-size: 18px;
    width: 60%;
}

.about-person {
    margin-top: 50px;
}

.birthday {
    text-align: center;
    padding: 5px;
}

.container-for-profile {
    display: flex;
    padding: 40px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.additional-inf {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 60%;
    padding: 5px;
    font-size: 19px;
}

.select-text {
    padding-right: 15px;
}

.additional-inf-find {
    padding: 20px;
}

.additional-inf-find input {
    border-radius: 10px;
    background-color: white;
    border: 0px;
    padding: 3px;
}
#file{
    margin-top: 20px;
}

